<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">letsgotogether</h3>
</div>
<div class="main-page">
    <h2>Кто куда сейчас едет</h2>
    <div class="row">
        <div class="col-sm-3" ng-repeat="proposal in activeProposal.models">
            <div class="proposal panel panel-default">
                <div class="info panel-body">
                    <h4>
                        <span ng-repeat="point in proposal.get('route')">
                            <span title="{{point.date}}" class="point">
                                <span class="glyphicon glyphicon-time"></span> {{point.name}}
                            </span>
                            <span ng-if="!$last"> - </span>
                        </span>
                    </h4>
                    <p class="description">
                        {{proposal.get('description')}}
                    </p>
                </div>
                <div class="other clearfix panel-footer">
                    <div class="pull-left"><span class="glyphicon glyphicon-user"></span> {{proposal.get('users')}}</div>
                    <div class="pull-left"><span class="glyphicon glyphicon-comment"></span> {{proposal.get('comments')}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
